Source: vulkan-loader
Section: libs
Priority: optional
Maintainer: Brett Johnson <brett@lunarg.com>
Build-Depends: debhelper (>=10),
 cmake,
 libwayland-dev,
 libx11-dev,
 libxcb1-dev,
 libxrandr-dev,
 vulkan-headers,
 pkg-config,
 quilt
Standards-Version: 4.1.3
Homepage: https://github.com/KhronosGroup/Vulkan-Loader
Vcs-Git: 
Vcs-Browser: 

Package: vulkan-loader
Architecture: linux-any
Depends: ${shlibs:Depends},${misc:Depends}
Breaks: libvulkan1
Replaces: libvulkan1
Multi-Arch: same
Description: Khronos official Vulkan ICD desktop loader for Linux
 The ICD loader is a library that is placed between a Vulkan application and any
 number of Vulkan drivers, in order to support multiple drivers and the
 instance-level functionality that works across these drivers. Additionally, the
 loader manages inserting Vulkan layer libraries, such as validation layers,
 between an application and the drivers.
